@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  h1 {
    @apply text-xl font-medium text-large;
  }

  h2 {
    @apply text-xl font-medium text-large;
  }

  h3{
    @apply text-base font-semibold text-large;
  }

  p {
    @apply text-medium;
  }
}

@layer components{
  .card-box {
    @apply p-4 bg-tertiary rounded-xl shadow-lg flex items-center space-x-4;
  }
}


@layer utilities {
  .animation-fade-in {
    opacity: 0;
    animation: fade-in 0.35s ease-in forwards;
  }
  
  @keyframes fade-in {
    100% {
      transform: translateY(0);
      opacity: 1;
    }

    0% {
      transform: translateY(5%);
      opacity: 0;
    }
  }

  .animation-fade-in-down{
    opacity: 0;
    animation: fade-in-down 0.35s ease-in forwards;
  }

  @keyframes fade-in-down {
    100% {
      transform: translateY(0);
      opacity: 1;
    }

    0% {
      transform: translateY(-20%);
      opacity: 0;
    }

  }

  .page-column {
    @apply mx-auto md:max-w-md max-w-xs space-y-12 mt-36 mb-28;
  }
}